* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: $dark-color;
  color: $light-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightest-color;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $lightest-color;
    transition: color 0.8s;
  }
}


.post-content {

  code {
    background: rgba(255,255,255, 0.2);
    padding: 2px 5px;
    border-radius: 3px;
  }
  pre {
    background: rgba(255,255,255, 0.2);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1em;
    overflow: auto;
    code {
      background: transparent;
      padding: 0;
    }
  }
  .highlight {
    border-radius: 3px;
    pre {
      border: none!important;
    }
  }

  img {
    border-radius: 3px;
    max-width: 100%;
    height: auto;
  }

  /* WebKit/Blink Browsers */
  ::selection {
    background: $darkest-color;
    color: $primary-color;
  }

  /* Gecko Browsers */
  ::-moz-selection {
    background: $darkest-color;
    color: $primary-color;
  }
}


